.cproject
.project
.settings/
README.txt
bin/
build/
lib/
.idea/
./Wolf.user
./Wolf.config
./Wolf.creator
./Wolf.files
./Wolf.includes
./Wolf/
/CMakeLists.txt.user
src/examples/map_polyline_example_write.yaml
*.gch
/CMakeFiles/
/CMakeCache.txt
*.dat
.DS_Store

*.graffle
